@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root{
	--primary-color:#00B0FF;
	--secondary-color:#D500F9;
	--dark-grey:#424242;
	--light-grey:#EEEEEE;
}

body{
	font-family: 'Montserrat',sans-serif;
}

hr{
	margin: 2rem 0rem;
}
.container{
	padding: 0rem 1rem;
}

.container-center{
	max-width: 650px;
	margin: auto;
}

.link{
	text-decoration: none;
	padding: 0.5rem 1rem;
	margin: 0.1rem;
}

.link-primary{
	background-color: var(--primary-color);
	color: white;
	border-radius: 2px;
	border: 0.2rem solid var(--primary-color);
	font-weight: 500;
}

.link-secondary{
	color: var(--primary-color);
	border: 0.2rem solid var(--primary-color);
	border-radius: 2px;
}

/**lists**/
.list-unordered{
	list-style: none;
}

.list-inline li{
	display: inline;
	padding: 0.5rem 1rem;
}

/**navbar**/

.navigation{
	background-color: var(--primary-color);
	padding: 1rem 0.5rem;
	color: white;
	border-bottom-left-radius: 2rem; 
}

.navigation .nav-logo{
	font-size: x-large;
	font-weight: 600;
	margin: 0rem 2rem;
}

.navigation .nav-items{
	text-align: right;
	margin: 0rem 2rem;
}

.navigation .link{
	color: white;
}

.navigation .link-active{
	font-weight: 600;
}

/**header**/
.header{
	padding: 2rem;
}
.hero-img{
	display: block;
	max-width: 350px;
	margin: auto;
}
.header-title{
	font-weight: 600;
	color: var(--dark-grey);
	text-align: center;
}
.hero-name{
	color: var(--primary-color);
	display: inline;
}

/**section**/
.section{
	padding: 2rem;
}
.section h4{
	text-align: center;
}
.off-white{
	background-color: var(--light-grey);
}